*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:
Inter,
Poppins,
sans-serif;

background:#020617;

overflow-x:hidden;

color:white;

}

button{

font-family:inherit;

}

input{

font-family:inherit;

}